.sucursal-container {
  padding: 32px;
}

.title {
  text-align: center;
}

.sucrusal-header {
  margin-bottom: 24px;
}

.sucursal-header__title {
  margin-bottom: 16px;
}

.sucursal-panel__controls {
  margin-bottom: 16px;
}

.custom-navbar {
  margin-bottom: 24px;
}



.categoria-container {
  padding: 32px;
}

.categoria-header {
  margin-bottom: 24px;
}

.categoria-header__title {
  margin-bottom: 16px;
}

.categoria-panel__controls {
  margin-bottom: 16px;
}
